<!-- <div class="continer-fluid">
    <div class="row">
        <app-navbar class="col-12"></app-navbar>
    </div>
</div> -->
<div class="continer-fluid">
    <div class="row">
        <app-header class="col-12"></app-header>
    </div>
</div>
<div class="continer-fluid mt-5">
    <div class="row">
        <app-side-menue class="col-3"></app-side-menue>
        <!-- <app-products class="col-9"></app-products> -->
        <app-master class="col-9"></app-master>
    </div>
</div>
<div class="continer-fluid mt-5">
    <div class="row">
        <app-footer class="col-12 bg-dark text-light p-1 text-center"></app-footer>
    </div>
</div>





